
@use "variables" as var;
@use "mixins";
@use "footer";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Titillium+Web:wght@700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: var.$primarycolor;
   
}

.navbar {
   
position: fixed;
top: 0;
width: 100%;
    

}

.head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    padding: 1em;

}



nav a, h2 {
    text-transform: uppercase;
}

ul .navbar-nav me-auto {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
    flex-wrap: nowrap; 
}


.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.face {
    border-radius: 50%;
    width: 3em;
  
   
}



.hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    background-color: #2FF3E0;
   
    
  
}


h1 {

    text-transform: uppercase;
    font-size: 4em;
    font-weight: 700;
    color: rgb(64, 8, 110);
    overflow: hidden; 
    border-right: .15em solid var.$tertiarycolor; 
    margin: 0 auto; 
    letter-spacing: .05em; 
    margin-bottom: 0.5em;
    
    animation: 
    typing 2.5s steps(80, end),
    blink-caret .75s step-end infinite;

    
    @include mixins.desctop {
        overflow: hidden; 
        border-right: .15em solid var.$secondarycolor; 
        margin: 0 auto; 
        letter-spacing: .05em; 
        margin-bottom: 0.5em;
        white-space: nowrap; 
        animation: 
        typing 2.5s steps(80, end), blink-caret .75s step-end infinite;
    }
}
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 40vw }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var.$secondarycolor; }
  }


  
 #about {
    background-color: #2FF3E0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:60vh;
    width: 100%;
    

    
    .abme {
        padding: 0;

        @include mixins.desctop {
            padding: 2em;
        }
    }
   
    
    .cont {
        color: var.$primarycolor;
        &:hover{

            color: var.$secondarycolor;
        }

    }
    
    
    
    

} 

  
.contact {
    background-color: #2FF3E0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 100%;
    height: 60vh;

}  


.imgcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.picture {
    width: 40%;
    border-radius: 50%;
    border: 0.3em dotted var.$secondarycolor;
    @include mixins.tablet {
        width: 30%;
      


    } 

    @include mixins.desctop {
        width: 40%;
      


    } 
}



.contactbtn {
    @include mixins.buttons;
    font-size: large;
    padding: 1em;
    
}
   
   
.prwrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2FF3E0;
  




    
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2FF3E0;
    @include mixins.desctop {
        flex-direction: row;
        justify-content: space-around;




    } 

}
    

.projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2FF3E0;
        
        
        
        @include mixins.desctop {
            flex-direction: row;
            justify-content: space-around;
           



        } 

        
      }

      .project {

       background-color: #2FF3E0;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
        
        
        


      }

      

      .screenshot {

        width: 15em;
        height: 15em;
        box-shadow: 10px -10px 0  var.$secondarycolor;
       
    
      }
        
      .link__proj {


          
          @include mixins.buttons;
          //box-shadow: -3px 3px 0 rgba(0, 0, 0, 0.6);
          padding: 0.5em;
         
          background-color: var.$secondarycolor;
          

          &:hover{
            background-color: var.$tertiarycolor;
            color:#000;;
          }


          
          
      }
      

    


      .desc {
        width: 15em;
        
        margin-top: 1em;
      }


.factum {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 3em;

    @include mixins.desctop {
        flex-direction: row;

    } 
    

    li {
        list-style: none;
        
    }
    
    .yel {
        background-color: var.$tertiarycolor;
        font-size: large;
        
    }
    
    .know {
        //flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       // width: 100%;

        @include mixins.desctop {
            width: 50%;

            
        }
        

       

       

        .img-overlay {
            position: relative;
            width:25%;
            
        }
        

        .resume {
            width: 15em;
            display: block;
        }


        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          
            width: 15em;
            opacity: 0;
            transition: .5s ease;
            background-color: rgba(255, 166, 0, 0.725);
          }
          
        .img-overlay:hover .overlay {
            opacity: 1;
        }
          
        .text {
            color: var.$primarycolor    ;
            font-size: larger  ;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }


    }
    
    
    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        //flex: 2;
        width: 100%;
        @include mixins.desctop {
        
            width: 50%;
            

        }
    }
    
  
   

};












    
       
       
           
 